
.DS_Store
GWfish/__pycache__
notebooks/.ipynb_checkpoints
notebooks/Testing_and_Implementation.ipynb

calculate_fishers_from_catalog_parallel.py
data/
results/
notebooks/Plots_Fishers.ipynb
notebooks/IMRPhenomHM_nofor.ipynb
