
.DS_Store
GWfish/__pycache__
notebooks/.ipynb_checkpoints
notebooks/Testing_and_Implementation.ipynb

calculate_fishers_from_catalog_parallel.py
data/
results/
plots/
notebooks/Plots_Fishers.ipynb
notebooks/IMRPhenomHM_nofor.ipynb
GWfish/tests
psds/ASDs_OnEv/GW170817/LIGO_H_ASD_GW170817.txt
psds/ASDs_OnEv/GW170817/LIGO_L_ASD_GW170817.txt
psds/ASDs_OnEv/GW170817/Virgo_ASD_GW170817.txt
notebooks/Results check.ipynb
